<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en">
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <br/>
        <p> Other Pages:
        </p>
        <a href="/">Home</a>
        <br/>
        <a href="/pageTwo">Page Two</a>
        <br/>
        <a href="/pageThree">Page Three</a>
    </body>
</html>